<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contador de visitas</title>
</head>
<body>
    <h1>Contador de Visitas</h1>
    <p>N° de Visitas: <%=counter%></p>
    <form action="" method="get" class="counterForm">
        <button class="submit">Incrementa en 2</button><br>
        <button class="reset">Reinicia en 1</button>
    </form>

    <script src="/script.js"></script>
</body>
</html>